.frame{
    background-color: white;
    width:600px;
    height: 400px;
    border: 1px solid;
}
.output{
    border: 1px solid;
    width:600px;
    height:60px;
    display: flex;
    align-items: center;
}
p{
    padding-left: 20px;;
    font-size:30px;
}
.num-grid{
    background-color: grey;
    display:grid;
    grid-template-columns: auto auto auto;
    flex:4;
    place-items:center;
}
.calc-grid{
    background-color:chocolate;
    display:grid;
    grid-template-columns: auto;
    place-items:center;
    height:100%;
    flex:1;
}
.calc-button{
    width:60px;
    height:30px;
}
.num-button{
    width:80px;
    height:40px;
}
.num-button .calc-button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.grid-container{
    display:flex;
    height:340px;
}
