.gameboard{
    width:300px;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: white;

}

.tile{
    border: 1px solid black;
    width:98px;
    height:98px;
    display:flex;
    justify-content: center;
    align-items: center;
}



.interface{
    display: flex;
    justify-content: center;
    display: flex;
    height: 100px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    border: 1px solid black;
    width:160px;
    height:75px;

    margin-top:12px;
    margin-right:20px;
}

.game-buttons{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
}

#name-form{
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    margin-top:10px;

}



.active{
    display: flex !important;
}

.header{
    border-bottom: 2px solid black;
}

.gameboardContainer{
    display: flex;
    justify-content: center;
}

.marker{
    font-size:30px;
}

html{
    background-color: rgb(197, 192, 146);
}

.gameovertext-div{
    display:flex;
    justify-content: center;
}
#gameover-text{
    font-size:50px;
}

.score{
    margin:0;
}